

.main-menu a{
    
    float: left;
    padding: var(--space-small);
    width: 25%; /* Four links of equal widths */
    text-align: center;
    color: #331F28;
   
}

.main-menu a:hover{
    
    color: #7C3626;
}
  
.main-menu a.active{

    background-color: #130303;
    color: white;
}
  
.logo-row {
    width: 250px;
    margin: 0 auto;
}

.logo {
    width: 50%;
    
    text-align: center;
}

