@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&display=swap');

.picture-item .about-text{

    font-family: Dancing Script;
    padding: 24px;  
    font-size: 28px;
    color: #612940;
}


.picture-item{

    margin-top: var(--space-medium);
    text-align: center;
    width:auto;
    max-width: 100%;
    height: 100%;
}

.grid{

    margin-top: 30px;
}

.grid h2{

    text-align: center;
    color: #612940;
}